pytest
pytest-asyncio
pytest-cov
codecov
black
notebook>=4.0
websockets
# etcd3 & python-consul2 are now soft dependencies
# Adding them here prevents CI from failing
etcd3
python-consul2
# pin grpcio for auth-without tls
# https://github.com/grpc/grpc/issues/29643
grpcio==1.44.0
